body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  /* Basic styling for the header */
  header {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 20px;
  }
  
  .title {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  .title a{
    text-decoration: none;
    color: white;
  }
  
  /* Styling for the navigation bar */
  .navbar {
    margin-top: 10px;
  }
  
  .navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
  }
  
  .navbar li {
    margin: 0 10px;
  }
  
  .navbar a {
    text-decoration: none;
    color: #A60013;
    font-weight: bold;
  }

.ulCenter {
    width: 100%;
}
  
  /* Styling for the gallery slider */
  /* .gallery-slider { */
    /* Add your slider styles here */
  /* } */
  
  /* Styling for the footer */
  footer {
    text-align: center;
    background-color: #f0f0f0;
    padding: 10px;
  }
  
  footer a {
    color: #333;
  }

/* Start of slider CSS */
* {
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: auto;
}

.slider-wrapper {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}


/* Here */

.slides-container {
  height: calc(100vh - 2rem);
  width: 100%;
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slide-arrow {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 4rem;
  background-color: white;
  border: none;
  width: 2rem;
  font-size: 3rem;
  padding: 0;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 100ms;
}

.slide-arrow:hover,
.slide-arrow:focus {
  opacity: 1;
}

#slide-arrow-prev {
  left: 0;
  padding-left: 0.25rem;
  border-radius: 0 2rem 2rem 0;
}

#slide-arrow-next {
  right: 0;
  padding-left: 0.75rem;
  border-radius: 2rem 0 0 2rem;
}

.slide {
  width: 100%;
  height: 100%;
  flex: 1 0 100%;
}

.slideimg{
    width: 100%;
    overflow: hidden;
}

.slide:nth-child(1) {
  background-color: #A60013;
}

.slide:nth-child(2) {
  background-color: #A60013;
}

.slide:nth-child(3) {
  background-color: #A60013;
  margin: 0;
}

.slide:nth-child(4) {
  background-color: #A60013;
}

/* Test if messes with previous footer parameters */
/* footer {
  padding: 1em;
  text-align: center;
  background-color: #FFDFB9;
}

footer a {
  color: inherit;
  text-decoration: none;
} */

footer .heart {
  color: #DC143C;
}
  
/* Styling for the content on additional pages */
.content {
  padding: 20px;
}

.iframe-container {
  margin-bottom: 30px;
}

.iframe-container h2 {
  margin-bottom: 10px;
}

.iframe-container iframe {
  width: 100%;
  height: 80vh;
  border: none;
}

.iframe-container a{
    color: #333;
}

.iframe-container a:active{
    color: #A60013;
}

 .webp {
      width: 75vw;
      margin-top: 5px;
      margin-bottom: 10px;
  }

/*   .webframe{
    width: 75vw;
    height: 600px;
  }
.resframe{
    height: 80vh;
    width: auto;
}
 */


/* Style for compare */

*{
  box-sizing: border-box;
}

/* Our wrapper */
.wrapper{
  width: 900px;
  height: 600px;
  position: relative;

  overflow:hidden;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.wrapperCenter{
    width: 80%;
    position: center;
    overflow: hidden;
}

/* Our image information */
.before,
.after {
  width:100%;
  height:100%;
  background-repeat:no-repeat;
  background-color: white;
  background-size: cover;
  background-position: center;
  position: absolute;
  top:0;
  left:0;
  pointer-events:none;
  overflow: hidden;
}

.content-image{
  height:100%;
}

.after{
  width:125px;
}

.scroller{
  width: 50px;
  height:50px;
  position: absolute;
  left:100px;
  top:50%;
  transform:translateY(-50%);
  border-radius:50%;
  background-color: transparent;
  opacity:0.9;
  pointer-events:auto;
  cursor: pointer;
}

.scroller:hover{
  opacity:1;
}

.scrolling{
  pointer-events:none;
  opacity:1;
   /* z-index: 1; */
}

.scroller__thumb{
  width:100%;
  height:100%;
  padding:5px;
}

.scroller:before,
.scroller:after{
  content:" ";
  display: block;
  width: 7px;
  height: 9999px;
  position: absolute;
  left: 50%;
  margin-left: -3.5px;
  z-index: 30;
  transition:0.1s;
}
.scroller:before{
  top:100%;
}
.scroller:after{
  bottom:100%;
}

/* If you want to change the colors, make sure you change the fill in the svgs to match */
.scroller{
  border: 5px solid #fff;
}
.scroller:before,
.scroller:after{
  background: #fff;
}
